/* Import Google font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap");

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Styling */
body {
  font-family: "Noto Sans HK", sans-serif;
  line-height: 2.5rem;
}

a {
  color: #506690;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utility Classes */
.container {
  max-width: 67.5rem;
  margin: auto;
  padding: 0 1rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #335eea;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Noto Sans HK", sans-serif;
}

.btn-primary {
  background-color: #335eea;
  color: #fff;
}

.btn-light {
  background: #b6cbe6;
  color: #335eea;
}

.btn:hover {
  background-color: #2753e2;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  /* line-height: 1.1; */
}

.m-heading {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.lead {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem 1.5rem;
}

.p-2 {
  padding: 2rem 2rem;
}

.p-3 {
  padding: 3rem 3rem;
}

#alert {
  background: #b6cbe6;
}

/* Navbar */
#navbar {
  color: #506690;
  padding: 1.6rem 0;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul li {
  margin: 0 2rem;
  text-align: center;
}

#navbar ul li a:hover {
  color: #335eea;
}

/* Home Page */
#home .container {
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
  /* align-items: center; */
}

#home .left-div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#home .left-div .cash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

#home .left-div .cash .spent {
  width: 50%;
  border-right: 1px solid #b6cbe6;
}

#home .left-div .add-btn a {
  width: 100%;
}

#home .right-div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#home .right-div form {
  display: flex;
  justify-content: space-between;
}

#home .right-div form input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #b6cbe6;
  border-radius: 5px;
  flex: 0.95;
  font-family: "Noto Sans HK", sans-serif;
}

#home .right-div form input:focus {
  outline: none;
  border-color: #335eea;
}

/* Table */
.content-table {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 0.9em;
  min-width: 300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #335eea;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #335eea;
}

/* Login Page */
#login .container {
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
  /* align-items: center; */
}

#login .login-img img {
  width: 30rem;
}

#login .login-form form {
  display: flex;
  flex-direction: column;
}

#login .login-form form input {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #b6cbe6;
  border-radius: 5px;
  flex: 0.95;
  font-family: "Noto Sans HK", sans-serif;
}

#login .login-form form button {
  margin-top: 1.5rem;
  margin-bottom: 00.5rem;
}

#login .login-form form input:focus {
  outline: none;
  border-color: #335eea;
}
/* #primary-form {
  padding-top: 100px;
  font-size: 18px;
}

#primary-form h1 {
  font-weight: lighter;
  line-height: 1.5em;
  margin: 0;
}

#primary-form p {
  color: #506690;
  margin: 0;
}

#primary-form form {
  width: 50%;
  float: left;
  min-height: 100%;
  padding: 20px 0px;
  overflow: hidden;
}

#primary-form .form-img {
  width: 50%;
  float: right;
  min-height: 100%;
}

#primary-form .form-img img {
  display: block;
  margin: auto;
  width: 100%;
}

#primary-form label {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

#primary-form input,
#primary-form select {
  width: 50%;
  padding: 10px;
  border: 1px solid #b6cbe6;
  font-size: 16px;
  border-radius: 5px;
}

#primary-form button {
  margin: 20px 0px;
  width: 50%;
  font-family: "Noto Sans HK", sans-serif;
}

#primary-form form p {
  font-size: 14px;
}

#primary-form input:focus,
#primary-form select:focus {
  outline: none;
  border-color: #335eea;
} */

/* Apology */
#apology {
  padding-top: 100px;
  font-size: 18px;
}

#apology .apology-message {
  width: 50%;
  float: left;
  text-align: center;
  min-height: 100%;
  padding: 20px 0px;
  overflow: hidden;
  padding-top: 150px;
}

#apology .apology-message h1 {
  font-size: 70px;
  font-weight: lighter;
}

#apology .apology-message p {
  font-size: 20px;
  color: #506690;
}

#apology .apology-img {
  width: 50%;
  float: right;
  min-height: 100%;
}

#apology .apology-img img {
  display: block;
  margin: auto;
  width: 100%;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 100px;
}
