/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main Styling */
html, body {
    font-family: 'Noto Sans HK', sans-serif;
    line-height: 1.4em;
}

h1, h2, h3 {
    margin-bottom: 40px;
}

a {
    color: #506690;
    text-decoration: none;
}

/* Utility Classes */
.container {
    max-width: 1000px;
    margin: auto;
    overflow: auto;
    padding: 0px 20px; 
}

.text-primary {
    color: #335eea;
    
}

.btn {
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    font-family: 'Noto Sans HK', sans-serif;
}

.btn:hover {
    background-color: #2753e2;
    color: #fff;
}

.btn-primary {
    background-color: #335eea;
    color: #fff;
}

.btn-light {
    background: #b6cbe6;
    color: #335eea;
}

.clr {
    clear: both;
}

/* Navbar */
#navbar {
    color: #506690;
    overflow: auto;
}

#navbar h2 {
    float: left;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 40px;
}

#navbar #logout {
    margin-top: 30px;
    float: right;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 40px;
    text-align: center;
}

#navbar ul li a:hover {
    color:  #335eea;
}

/* Form */
#primary-form {
    padding-top: 100px;
    font-size: 18px;
}

#primary-form h1 {
    font-weight: lighter;
    line-height: 1.5em;
    margin: 0;
}

#primary-form p {
    color: #506690;
    margin: 0;
}

#primary-form form {
    width: 50%;
    float: left;
    min-height: 100%;
    padding: 20px 0px;
    overflow: hidden;
}

#primary-form .form-img {
    width: 50%;
    float: right;
    min-height: 100%;
}

#primary-form .form-img img {
    display: block;
    margin: auto;
    width: 100%;
}

#primary-form label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

#primary-form input, #primary-form select {
    width: 50%;
    padding: 10px;
    border: 1px solid #b6cbe6;
    font-size: 16px;
    border-radius: 5%;
}

#primary-form button {
    margin: 20px 0px;
    width: 50%;
    font-family: 'Noto Sans HK', sans-serif;
}

#primary-form form p {
    font-size: 14px;
}

#primary-form input:focus, #primary-form select:focus {
    outline: none;
    border-color: #335eea;
}

/* Apology */
#apology {
    padding-top: 100px;
    font-size: 18px;
}

#apology .apology-message {
    width: 50%;
    float: left;
    text-align: center;
    min-height: 100%;
    padding: 20px 0px;
    overflow: hidden;
    padding-top: 150px;
}

#apology .apology-message h1 {
    font-size: 70px;
    font-weight: lighter;
}

#apology .apology-message p {
    font-size: 20px;
    color: #506690;
}

#apology .apology-img {
    width: 50%;
    float: right;
    min-height: 100%;
}

#apology .apology-img img {
    display: block;
    margin: auto;
    width: 100%;
}

/* Table */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #335eea;
    color: #fff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #335eea;
  }


/* Home page */
#home {
    padding-top: 100px;
    font-size: 18px;
}

#home .numbers {
    width: 30%;
    float: left;
    margin-top: 40px;
    min-height: 100%;
}

#home .table {
    width: 70%;
    float: right;
}

#home .table table {
    float: right;
}

#home .numbers .spent {
    width: 50%;
    float: left;
    border-right: 1px solid #b6cbe6;
}

#home .numbers .remaining {
    width: 50%;
    float: right;
    text-align: right;
}

#home .numbers h1 {
    font-weight: lighter;
}

#home .numbers p {
    color: #506690;
}

#home .numbers a {
    margin-top: 35px;
    min-width: 100%;
    text-align: center;
}

#home .month-div form {
    width: 50%;
    float: right;
}

#home .month-div h1 {
    width: 50%;
    float: left;
    font-weight: lighter;
    line-height: 1.4em;
}

#home .month-div form input {
    width: 50%;
    padding: 10px;
    border: 1px solid #b6cbe6;
    font-size: 20px;
    margin-top: 10px;

}

#home .month-div form input:focus {
    outline: none;
    border-color: #335eea;
}