{% extends "layout.html" %}

<!-- Title -->
{% block title %} Add {% endblock %}

<!-- Add Page -->
{% block main %}
<section id="add">
  <div class="container py-3">
    <div class="add-form p-1">
      <h1 class="m-heading py-1">Add Transaction</h1>
      <form action="/add" method="POST">
        <label for="category">Choose Category</label>
        <select class="form-control" name="category" id="category">
          <option disabled selected value="">Category</option>
          {% for row in rows %}
          <option value="{{ row['category'] }}">{{ row["category"] }}</option>
          {% endfor %}
        </select>
        <p style="font-size: 16px; padding-top: 15px">OR</p>
        <label for="new-category">New Category</label>
        <input
          autocomplete="off"
          type="text"
          name="new-category"
          id="new-category"
        />
        <label for="description">Description</label>
        <input
          autocomplete="off"
          type="text"
          name="description"
          id="description"
        />
        <label for="price">Price</label>
        <input type="number" min="1" name="price" id="price" />
        <button class="btn btn-primary" type="submit">Add</button>
      </form>
    </div>
    <div class="add-img p-1">
      <img src={{ url_for('static', filename='add.png') }} alt="Large phone
      illustration">
    </div>
  </div>
</section>
{% endblock %}
