{% extends "layout.html" %}

<!-- Title -->
{% block title %}
    Add
{% endblock %}

<!-- Add form -->
{% block main %}
    <div class="container">
        <div id="primary-form">
            <h1>Add Transaction</h1>
            <form action="/add" method="POST">
                <div class="form-group">
                    <label for="category">Choose Category</label>
                    <select class="form-control" name="category" id="category">
                        <option disabled selected value="">Category</option>
                        {% for row in rows %}
                            <option value="{{ row['category'] }}">{{ row["category"] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <p style="font-size: 16px; padding-top: 15px;">OR</p>
                <div class="form-group">
                    <label for="new-category">New Category</label>
                    <input autocomplete="off" type="text" name="new-category" id="new-category">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input autocomplete="off" type="text" name="description" id="description">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" min="1" name="price" id="price">
                </div>
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
            <div class="form-img">
                <img src={{ url_for('static', filename='add.png') }} alt="Large phone illustration">
            </div>
        </div>
    </div>
{% endblock %}