{% extends "layout.html" %}

<!-- Title -->
{% block title %} Apology {% endblock %}
<!-- Apology Page -->
{% block main %}
<section id="apology">
  <div class="container py-3">
    <div class="apology-msg p-1">
      <h1 id="code" class="l-heading">{{ code }}</h1>
      <p id="message" class="py-2">{{ message }}</p>
    </div>
    <div class="apology-img p-1">
      <img src={{ url_for('static', filename='apology.png') }} alt="Two people
      searching a map illustration">
    </div>
  </div>
</section>
{% endblock %}
