{% extends "layout.html" %}

<!-- Title -->
{% block title %} Home {% endblock %}

<!-- Main -->
{% block main %}
<section id="home">
  <div class="container py-3">
    <!-- Listings (Spent/Remaining) & Add transaction button-->
    <div class="left-div">
      {% if not month %}
      <h1 class="m-heading p-1">
        Listings of the <span class="text-primary">Month</span>
      </h1>
      {% else %}
      <h1 class="m-heading p-1">
        Listings of <span class="text-primary">{{ month }}</span>
      </h1>
      {% endif %}
      <div class="cash py-2">
        <div class="spent p-1">
          <h1>${{ spent }}</h1>
          <p>Spent</p>
        </div>
        <div class="remainig p-1">
          <h1>${{ remain }}</h1>
          <p>Remainig</p>
        </div>
      </div>
      <div class="add-btn p-1 text-center">
        <a href="/add" class="btn btn-primary">Add transaction</a>
      </div>
    </div>
    <!-- Month form & table -->
    <div class="right-div">
      <div class="form p-1">
        <form action="/" method="POST">
          <input
            placeholder="List by month [1 - 12]"
            autocomplete="off"
            min="1"
            max="12"
            name="month"
            id="month"
            type="number"
          />
          <button type="submit" class="btn btn-primary">Select</button>
        </form>
      </div>
      <div class="table p-1">
        <table id="table" class="content-table">
          <thead>
            <tr>
              <th>Category</th>
              <th>Description</th>
              <th>Price</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody id="tbody">
            {% for row in rows %}
            <tr>
              <td>{{ row["category"] }}</td>
              <td>{{ row["description"] }}</td>
              <td>${{ row["price"] }}</td>
              <td>{{ row["date"] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
