{% extends "layout.html" %}

<!-- Title -->
{% block title %} Home {% endblock %}

<!-- Main -->
{% block main %}
<div id="home">
  <div class="container">
    <div class="month-div">
      {% if not month %}
      <h1>Listings of the <span class="text-primary">Month</span></h1>
      {% else %}
      <h1>Listings of <span class="text-primary">{{ month }}</span></h1>
      {% endif %}
      <form action="/" method="POST">
        <div class="form-group">
          <input
            placeholder="List by month [1 - 12]"
            autocomplete="off"
            min="1"
            max="12"
            name="month"
            id="month"
            type="number"
          />
          <button style="width: 20%" type="submit" class="btn btn-primary">
            Select
          </button>
        </div>
      </form>
    </div>
    <div class="clr"></div>
    <div class="numbers">
      <div class="spent">
        <h1>${{ spent }}</h1>
        <p>Spent</p>
      </div>
      <div class="remaining">
        <h1>${{ remain }}</h1>
        <p>Remainig</p>
      </div>
      <a href="/add" class="btn btn-primary">Add transaction</a>
    </div>
    <div class="table">
      <table id="table" class="content-table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody id="tbody">
          {% for row in rows %}
          <tr>
            <td>{{ row["category"] }}</td>
            <td>{{ row["description"] }}</td>
            <td>${{ row["price"] }}</td>
            <td>{{ row["date"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
