<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link to favicon & styles -->
    <link href="/static/favicon.ico" rel="icon" />
    <link href="/static/styles.css" rel="stylesheet" />
    <link
      href="/static/mobile.css"
      rel="stylesheet"
      media="screen and (max-width: 850px)"
    />

    <!-- Custom head block -->
    {% block head %}{% endblock %}

    <!-- Title -->
    <title>Tawfeer | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav id="navbar">
      <div class="container">
        <h2 class="logo"><a class="text-primary" href="/">Tawfeer.</a></h2>
        {% if session.user_id %}
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/add">Add</a></li>
          <li><a href="/insights">Visuals</a></li>
        </ul>
        <a href="/logout" class="btn btn-primary">Log Out</a>
        {% else %}
        <ul>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
        {% endif %}
      </div>
    </nav>

    {% if get_flashed_messages() %}
    <header>
      <div
        id="alert"
        class="alert alert-primary border text-center"
        role="alert"
      >
        {{ get_flashed_messages() | join(" ") }}
      </div>
    </header>
    {% endif %} {% block main %}{% endblock %}

    <footer>
      Designed and developed by
      <a
        href="https://www.linkedin.com/in/osamayasserr/"
        class="text-primary"
        target="_blank"
        >Osama Yasser</a
      >. All rights reserved.
    </footer>
  </body>
</html>
