{% extends "layout.html" %}

<!-- Title -->
{% block title %} Login {% endblock %}

<!-- Login Form -->
{% block main %}
<section id="login">
  <div class="container py-3">
    <div class="login-form p-1">
      <h1 class="m-heading">Log In</h1>
      <p class="py-1">Track expenses in minutes.</p>
      <form action="/login" method="POST">
        <label for="username">Username</label>
        <input autocomplete="off" name="username" id="username" type="text" />
        <label for="password">Password</label>
        <input name="password" id="password" type="password" />
        <button class="btn btn-primary" type="submit">Login</button>
        <p>
          Don't have an account yet?
          <a class="text-primary" href="/register">Register.</a>
        </p>
      </form>
    </div>
    <div class="login-img p-1">
      <img src={{ url_for('static', filename='login.png') }} alt="Yoga girl
      illustration">
    </div>
  </div>
</section>
{% endblock %}
