{% extends "layout.html" %}

<!-- Title -->
{% block title %} Register {% endblock %}

<!-- Register Form -->
{% block main %}
<section id="register">
  <div class="container py-3">
    <div class="register-form p-1">
      <h1 class="m-heading">Register</h1>
      <p class="py-1">Track expenses in minutes.</p>
      <form action="/register" method="POST">
        <label for="username">Username</label>
        <input autocomplete="off" name="username" id="username" type="text" />
        <label for="password">Password</label>
        <input name="password" id="password" type="password" />
        <label for="password-again">Password (again)</label>
        <input name="password-again" id="password-again" type="password" />
        <label for="cash">Monthly Budget</label>
        <input
          name="cash"
          id="cash"
          type="number"
          min="1"
          placeholder="Default: 10k"
        />
        <button class="btn btn-primary" type="submit">Register</button>
        <p>
          Already have an account?
          <a class="text-primary" href="/login">Login.</a>
        </p>
      </form>
    </div>
    <div class="register-img">
      <img src={{ url_for('static', filename='landing.png') }} alt="Three people
      chatting illustration">
    </div>
  </div>
</section>
{% endblock %}
